@model WallaceFarms.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.orderID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustID)
            @Html.ValidationMessageFor(model => model.CustID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumQuarters)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumQuarters)
            @Html.ValidationMessageFor(model => model.NumQuarters)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CutID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CutID)
            @Html.ValidationMessageFor(model => model.CutID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
