@model WallaceFarms.Models.OrderModel
@{
    ViewBag.Title = "Edit Order";
}

<h2>Edit Order</h2>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Edit Order</legend>

        <h2>Order</h2>
        <div class="editor-label">
            @Html.DisplayFor(model => model.theOrder.OrderID)
        </div>
            @Html.HiddenFor(model => model.theOrder.OrderID)

        <div class="editor-label">
            @Html.LabelFor(model => model.theOrder.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.theOrder.Name)
        </div>
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.theOrder.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.theOrder.Phone)
        </div>
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.theOrder.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.theOrder.Email)
        </div>
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.theOrder.Status)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.theOrder.Status)
        </div>
        <br />
        <br />

        <!-- BEEF ORDER FEILD  -->
        <h2>Beef Order</h2>
         <div class="editor-label">
            @Html.DisplayFor(model => model.theBeefOrder.BeefOrderID)
        </div>
            @Html.HiddenFor(model => model.theBeefOrder.BeefOrderID)
            @Html.HiddenFor(model => model.theBeefOrder.OrderID)

        <div class="editor-label">
            @Html.LabelFor(model => model.theBeefOrder.NumQuarters)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.theBeefOrder.NumQuarters, WallaceFarms.Models.OrderModel.quarterOptions)
        </div>
        <br />

         <div class="editor-label">
            @Html.DisplayFor(model => model.theBeefOrder.Comments) 
            <p>160 char. MAX</p>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.theBeefOrder.Comments)
        </div>
        <br />

        <input type="submit" value="Save Changes" />

    </fieldset>
}
