@model IEnumerable<WallaceFarms.Models.OrderModel>
@{
    ViewBag.Title = "Orders of Beef";
}

<h2>Orders of Beef</h2>

<h2><strong>Products:</strong> (<a href="/OrderAccess/Create" style="color: blue;">create new</a>)</h2>
<br />

<div style="min-height: 150px; font-size: 1.25em;">
	@foreach ( var entry in Model )
	{
		<div style="margin-bottom: .5em;">
			<div class="listing-item name">Customer: @entry.theOrder.Name</div> 
            <div class="listing-item">OrderID: @entry.theOrder.OrderID</div> 
			<div class="listing-item">Email: @entry.theOrder.Email</div> 
			<div class="listing-item">Phone#: @entry.theOrder.Phone</div>
            <div class="listing-item">Status: @entry.theOrder.Status</div> 
            <p>________________</p>
            <div class="listing-item">Number of Quarters: @entry.theBeefOrder.NumQuarters</div>
			<div class="listing-item">(<a href="/OrderAccess/Edit/@entry.theOrder.OrderID"  style="color: blue;">edit</a>)</div>
            <div class="listing-item">(<a href="/OrderAccess/Delete/@entry.theOrder.OrderID"  style="color: blue;">delete</a>)</div>
		</div>
        <br />
        <p>----------------------------------------------------</p>
	}
</div>