@model WallaceFarms.Models.OrderModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>

	<body>

		<div class="frame">	
            <div class="wrapper">
	            <div class="banner"></div>
	            <div class="content" id="filled">
                    <article>
	                    <h2>Place Your Order Here!</h2>
                        @using (Html.BeginForm())
                            {
                            <fieldset>
                            <legend>Customer Orders</legend>

                            <h2>Order</h2>
                            <div class="editor-label">
                                @Html.DisplayFor(model => model.theOrder.OrderID)
                            </div>
                                @Html.HiddenFor(model => model.theOrder.OrderID)

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Name)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Name)
                            </div>
                            <br />

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Phone)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Phone)
                            </div>
                            <br />

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Email)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Email)
                            </div>
                            <br />

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Status)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Status)
                            </div>
                            <br />
                            <br />

                            <!-- BEEF ORDER FEILD  -->
                            <h2>Beef Order</h2>
                             <div class="editor-label">
                                @Html.DisplayFor(model => model.theBeefOrder.BeefOrderID)
                            </div>
                                @Html.HiddenFor(model => model.theBeefOrder.BeefOrderID)
                                @Html.HiddenFor(model => model.theBeefOrder.OrderID)

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theBeefOrder.NumQuarters)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theBeefOrder.NumQuarters)
                            </div>
                            <br />

                            <input type="submit" value="Submit Order" />

                        </fieldset>
                        }
                    </article>
	       
                </div>

	            <div class="menu"><ul>
		                <li><a href="Info">About Us</a></li>
		
		                <li id="right_menu"><a href="OrderPage">Order Beef</a></li>
	                </ul>

	                <div id="footer">
			                <span class="copyright"> &copy; 2014 Wallace Farm</span>
	                </div>
	            </div>

	        </div>

         </div>
	</body>
</html>