@model WallaceFarms.Models.OrderModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennsylvania, angus, hereford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, New Castle, PA - Quality fresh beef available for order.">
	</head>

	<body>

		<div class="frame">	
            <div class="wrapper">
	            	<div class="banner">
                        <img src="../Images/banner.png" width="900" height="100" />
	                </div>
	            <div class="content" id="filledWhite">
                    <article>
                        @using (Html.BeginForm())
                            {
                            <fieldset>
                            <legend>Place Your Order</legend>
                            <div class="InfoFields">
                            @Html.HiddenFor(model => model.theOrder.OrderID)

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Name)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Name)
                            </div>
                            <br />

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Phone)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Phone)
                            </div>
                            <br />

                            <div class="editor-label">
                                @Html.LabelFor(model => model.theOrder.Email)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.theOrder.Email)
                            </div>
                            <br />

                            <!-- BEEF ORDER FEILD  -->
                            @Html.HiddenFor(model => model.theBeefOrder.BeefOrderID)
                            @Html.HiddenFor(model => model.theBeefOrder.OrderID)

                            <div class="editor-label">
                                <p>Amount of Beef</p>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.theBeefOrder.NumQuarters, WallaceFarms.Models.OrderModel.quarterOptions)
                            </div>
                            <br />
                            </div>

                            <div id="commentBox">
                                <div class="editor-label">
                                    @Html.DisplayFor(model => model.theBeefOrder.Comments) 
                                    <p>160 char. MAX</p>
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.theBeefOrder.Comments)
                                </div>
                            </div>

                            <div class="Submit">
                                <input type="submit" value="Submit Order" />
                            </div>
                        </fieldset>
                        }
                    </article>
	       
                </div>

	            <div class="menu"><ul>
		                <li><a href="Info">About Us</a></li>
		
		                <li id="right_menu"><a href="OrderPage">Order Beef</a></li>
	                </ul>

	                <div id="footer">
			                <span class="copyright"> &copy; @DateTime.Today.Year Wallace Farm</span>
	                </div>
	            </div>

	        </div>

         </div>
	</body>
</html>